<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>丨</string>
		<key>shortcut</key>
		<string>gun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>丶</string>
		<key>shortcut</key>
		<string>zhu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>丿</string>
		<key>shortcut</key>
		<string>pie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>亅</string>
		<key>shortcut</key>
		<string>jue</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>亠</string>
		<key>shortcut</key>
		<string>tou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>冂</string>
		<key>shortcut</key>
		<string>jiong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>冖</string>
		<key>shortcut</key>
		<string>mi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>冫</string>
		<key>shortcut</key>
		<string>bing</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>匚</string>
		<key>shortcut</key>
		<string>fang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>匸</string>
		<key>shortcut</key>
		<string>xi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>厶</string>
		<key>shortcut</key>
		<string>si</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>丷</string>
		<key>shortcut</key>
		<string>ba</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>彳</string>
		<key>shortcut</key>
		<string>chi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>彡</string>
		<key>shortcut</key>
		<string>shan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>廴</string>
		<key>shortcut</key>
		<string>yin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>廾</string>
		<key>shortcut</key>
		<string>gong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>彐</string>
		<key>shortcut</key>
		<string>ji</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>忄</string>
		<key>shortcut</key>
		<string>xin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>氵</string>
		<key>shortcut</key>
		<string>shui</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>灬</string>
		<key>shortcut</key>
		<string>huo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>纟</string>
		<key>shortcut</key>
		<string>si</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>耂</string>
		<key>shortcut</key>
		<string>lao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>衤</string>
		<key>shortcut</key>
		<string>yi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>阝</string>
		<key>shortcut</key>
		<string>fu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>亻</string>
		<key>shortcut</key>
		<string>ren</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>宀</string>
		<key>shortcut</key>
		<string>mian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>屮</string>
		<key>shortcut</key>
		<string>che</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>巛</string>
		<key>shortcut</key>
		<string>chuan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>癶</string>
		<key>shortcut</key>
		<string>bo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>饣</string>
		<key>shortcut</key>
		<string>shi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>龸</string>
		<key>shortcut</key>
		<string>cuan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>羃</string>
		<key>shortcut</key>
		<string>mi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>昱</string>
		<key>shortcut</key>
		<string>yu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>煜</string>
		<key>shortcut</key>
		<string>yu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>琬</string>
		<key>shortcut</key>
		<string>wan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>斝</string>
		<key>shortcut</key>
		<string>jia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>嵎</string>
		<key>shortcut</key>
		<string>yu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>鹬</string>
		<key>shortcut</key>
		<string>yu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蘅</string>
		<key>shortcut</key>
		<string>heng</string>
	</dict>
</array>
</plist>