<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>(๑˃̵ᴗ˂̵)و</string>
		<key>shortcut</key>
		<string>kaixin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(◍•ᴗ•◍)</string>
		<key>shortcut</key>
		<string>cute</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(✿ﾟ▽ﾟ)ノ</string>
		<key>shortcut</key>
		<string>kaixin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ʕ•ᴥ•ʔ</string>
		<key>shortcut</key>
		<string>xiong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(＾▽＾)</string>
		<key>shortcut</key>
		<string>haha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*^▽^*)</string>
		<key>shortcut</key>
		<string>haha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*/ω＼*)</string>
		<key>shortcut</key>
		<string>haixiu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(〃∀〃)</string>
		<key>shortcut</key>
		<string>haixiu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ʚ(｡˃ᵕ˂)ɞ</string>
		<key>shortcut</key>
		<string>saijiao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´,,•ω•,,`)</string>
		<key>shortcut</key>
		<string>saijiao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(¬_¬)</string>
		<key>shortcut</key>
		<string>wuyu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(´•ω•`)､</string>
		<key>shortcut</key>
		<string>aiya</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（＞人＜；）</string>
		<key>shortcut</key>
		<string>aiya</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Σ(°△°|||)</string>
		<key>shortcut</key>
		<string>shocked</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｡•́︿•̀｡)</string>
		<key>shortcut</key>
		<string>emo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（；´д｀）ゞ</string>
		<key>shortcut</key>
		<string>emo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(╥_╥)</string>
		<key>shortcut</key>
		<string>ku</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♡ ♥ ♪ ♫ ✧ ✦</string>
		<key>shortcut</key>
		<string>fh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☆ ★ ◇ ◆ ● ◦</string>
		<key>shortcut</key>
		<string>fh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>× √ ∵ ∴ ° ℃</string>
		<key>shortcut</key>
		<string>fh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>〆 ゝ ゞ ヽ ゛</string>
		<key>shortcut</key>
		<string>fh</string>
	</dict>
</array>
</plist>