<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>丨</string>
		<key>shortcut</key>
		<string>gun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>丶</string>
		<key>shortcut</key>
		<string>zhu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>丿</string>
		<key>shortcut</key>
		<string>pie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>亅</string>
		<key>shortcut</key>
		<string>jue</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>亠</string>
		<key>shortcut</key>
		<string>tou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>冂</string>
		<key>shortcut</key>
		<string>jiong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>冖</string>
		<key>shortcut</key>
		<string>mi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>冫</string>
		<key>shortcut</key>
		<string>bing</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>勹</string>
		<key>shortcut</key>
		<string>bao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>匕</string>
		<key>shortcut</key>
		<string>bi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>匸</string>
		<key>shortcut</key>
		<string>xi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>卩</string>
		<key>shortcut</key>
		<string>jie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>丷</string>
		<key>shortcut</key>
		<string>ba</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>彳</string>
		<key>shortcut</key>
		<string>chi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>彡</string>
		<key>shortcut</key>
		<string>shan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>廴</string>
		<key>shortcut</key>
		<string>yin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>彐</string>
		<key>shortcut</key>
		<string>ji</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>扌</string>
		<key>shortcut</key>
		<string>shou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>攴</string>
		<key>shortcut</key>
		<string>pu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>攵</string>
		<key>shortcut</key>
		<string>pu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>灬</string>
		<key>shortcut</key>
		<string>huo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>爿</string>
		<key>shortcut</key>
		<string>qiang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>犭</string>
		<key>shortcut</key>
		<string>quan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>罒</string>
		<key>shortcut</key>
		<string>wang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>艹</string>
		<key>shortcut</key>
		<string>cao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>艸</string>
		<key>shortcut</key>
		<string>cao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>虍</string>
		<key>shortcut</key>
		<string>hu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>讠</string>
		<key>shortcut</key>
		<string>yan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>豸</string>
		<key>shortcut</key>
		<string>zhi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>阝</string>
		<key>shortcut</key>
		<string>fu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>屮</string>
		<key>shortcut</key>
		<string>che</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>巛</string>
		<key>shortcut</key>
		<string>chuan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>疒</string>
		<key>shortcut</key>
		<string>ne</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>癶</string>
		<key>shortcut</key>
		<string>bo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>糸</string>
		<key>shortcut</key>
		<string>mi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>龸</string>
		<key>shortcut</key>
		<string>cuan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>泠</string>
		<key>shortcut</key>
		<string>ling</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>杳</string>
		<key>shortcut</key>
		<string>yao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>氽</string>
		<key>shortcut</key>
		<string>tun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>氾</string>
		<key>shortcut</key>
		<string>fan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>尃</string>
		<key>shortcut</key>
		<string>fu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>羃</string>
		<key>shortcut</key>
		<string>mi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>龑</string>
		<key>shortcut</key>
		<string>yan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>赟</string>
		<key>shortcut</key>
		<string>yun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>垚</string>
		<key>shortcut</key>
		<string>yao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>淼</string>
		<key>shortcut</key>
		<string>miao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>焱</string>
		<key>shortcut</key>
		<string>yan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>旻</string>
		<key>shortcut</key>
		<string>min</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>珺</string>
		<key>shortcut</key>
		<string>jun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>琰</string>
		<key>shortcut</key>
		<string>yan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>璨</string>
		<key>shortcut</key>
		<string>can</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>玥</string>
		<key>shortcut</key>
		<string>yue</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>珩</string>
		<key>shortcut</key>
		<string>heng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>琛</string>
		<key>shortcut</key>
		<string>chen</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>琬</string>
		<key>shortcut</key>
		<string>wan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>瑗</string>
		<key>shortcut</key>
		<string>yuan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>觚</string>
		<key>shortcut</key>
		<string>gu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>觯</string>
		<key>shortcut</key>
		<string>zhi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>甗</string>
		<key>shortcut</key>
		<string>yan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>甑</string>
		<key>shortcut</key>
		<string>zeng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>罍</string>
		<key>shortcut</key>
		<string>lei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>岵</string>
		<key>shortcut</key>
		<string>hu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>岫</string>
		<key>shortcut</key>
		<string>xiu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>汀</string>
		<key>shortcut</key>
		<string>ting</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>渚</string>
		<key>shortcut</key>
		<string>zhu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>潋</string>
		<key>shortcut</key>
		<string>lian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>滟</string>
		<key>shortcut</key>
		<string>yan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蘅</string>
		<key>shortcut</key>
		<string>heng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蔷</string>
		<key>shortcut</key>
		<string>qiang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蓼</string>
		<key>shortcut</key>
		<string>liao</string>
	</dict>
</array>
</plist>