<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>丨</string>
		<key>shortcut</key>
		<string>gun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>丶</string>
		<key>shortcut</key>
		<string>zhu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>丿</string>
		<key>shortcut</key>
		<string>pie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>亅</string>
		<key>shortcut</key>
		<string>jue</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>亠</string>
		<key>shortcut</key>
		<string>tou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>冂</string>
		<key>shortcut</key>
		<string>jiong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>冖</string>
		<key>shortcut</key>
		<string>mi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>冫</string>
		<key>shortcut</key>
		<string>bing</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>凵</string>
		<key>shortcut</key>
		<string>kan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>刂</string>
		<key>shortcut</key>
		<string>dao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>勹</string>
		<key>shortcut</key>
		<string>bao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>匕</string>
		<key>shortcut</key>
		<string>bi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>匚</string>
		<key>shortcut</key>
		<string>fang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>匸</string>
		<key>shortcut</key>
		<string>xi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>卩</string>
		<key>shortcut</key>
		<string>jie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>厶</string>
		<key>shortcut</key>
		<string>si</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>丷</string>
		<key>shortcut</key>
		<string>ba</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>彳</string>
		<key>shortcut</key>
		<string>chi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>彡</string>
		<key>shortcut</key>
		<string>shan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>廴</string>
		<key>shortcut</key>
		<string>yin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>廾</string>
		<key>shortcut</key>
		<string>gong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>彐</string>
		<key>shortcut</key>
		<string>ji</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>忄</string>
		<key>shortcut</key>
		<string>xin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>扌</string>
		<key>shortcut</key>
		<string>shou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>攴</string>
		<key>shortcut</key>
		<string>pu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>攵</string>
		<key>shortcut</key>
		<string>pu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>灬</string>
		<key>shortcut</key>
		<string>huo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>爿</string>
		<key>shortcut</key>
		<string>qiang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>犭</string>
		<key>shortcut</key>
		<string>quan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>礻</string>
		<key>shortcut</key>
		<string>shi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>纟</string>
		<key>shortcut</key>
		<string>si</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>罒</string>
		<key>shortcut</key>
		<string>wang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>耂</string>
		<key>shortcut</key>
		<string>lao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>艸</string>
		<key>shortcut</key>
		<string>cao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>虍</string>
		<key>shortcut</key>
		<string>hu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>衤</string>
		<key>shortcut</key>
		<string>yi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>讠</string>
		<key>shortcut</key>
		<string>yan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>豸</string>
		<key>shortcut</key>
		<string>zhi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>钅</string>
		<key>shortcut</key>
		<string>jin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>阝</string>
		<key>shortcut</key>
		<string>fu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>亻</string>
		<key>shortcut</key>
		<string>ren</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>宀</string>
		<key>shortcut</key>
		<string>mian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>尢</string>
		<key>shortcut</key>
		<string>you</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>屮</string>
		<key>shortcut</key>
		<string>che</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>巛</string>
		<key>shortcut</key>
		<string>chuan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>疒</string>
		<key>shortcut</key>
		<string>ne</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>癶</string>
		<key>shortcut</key>
		<string>bo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>饣</string>
		<key>shortcut</key>
		<string>shi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>糸</string>
		<key>shortcut</key>
		<string>mi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>龸</string>
		<key>shortcut</key>
		<string>cuan</string>
	</dict>
</array>
</plist>