<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>泠</string>
		<key>shortcut</key>
		<string>ling</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>杳</string>
		<key>shortcut</key>
		<string>yao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>仝</string>
		<key>shortcut</key>
		<string>tong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>氽</string>
		<key>shortcut</key>
		<string>tun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>氾</string>
		<key>shortcut</key>
		<string>fan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>尃</string>
		<key>shortcut</key>
		<string>fu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>羃</string>
		<key>shortcut</key>
		<string>mi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>綦</string>
		<key>shortcut</key>
		<string>qi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>龑</string>
		<key>shortcut</key>
		<string>yan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>赟</string>
		<key>shortcut</key>
		<string>yun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>垚</string>
		<key>shortcut</key>
		<string>yao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>喆</string>
		<key>shortcut</key>
		<string>zhe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>淼</string>
		<key>shortcut</key>
		<string>miao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>焱</string>
		<key>shortcut</key>
		<string>yan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>鑫</string>
		<key>shortcut</key>
		<string>xin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>昱</string>
		<key>shortcut</key>
		<string>yu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>旻</string>
		<key>shortcut</key>
		<string>min</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>昊</string>
		<key>shortcut</key>
		<string>hao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>晟</string>
		<key>shortcut</key>
		<string>sheng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>煜</string>
		<key>shortcut</key>
		<string>yu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>熠</string>
		<key>shortcut</key>
		<string>yi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>珺</string>
		<key>shortcut</key>
		<string>jun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>琰</string>
		<key>shortcut</key>
		<string>yan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>璟</string>
		<key>shortcut</key>
		<string>jing</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>璨</string>
		<key>shortcut</key>
		<string>can</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>瑾</string>
		<key>shortcut</key>
		<string>jin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>玥</string>
		<key>shortcut</key>
		<string>yue</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>珩</string>
		<key>shortcut</key>
		<string>heng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>琛</string>
		<key>shortcut</key>
		<string>chen</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>琬</string>
		<key>shortcut</key>
		<string>wan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>瑗</string>
		<key>shortcut</key>
		<string>yuan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>瑜</string>
		<key>shortcut</key>
		<string>yu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>觚</string>
		<key>shortcut</key>
		<string>gu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>觯</string>
		<key>shortcut</key>
		<string>zhi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>彝</string>
		<key>shortcut</key>
		<string>yi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>甗</string>
		<key>shortcut</key>
		<string>yan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>鬲</string>
		<key>shortcut</key>
		<string>li</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>甑</string>
		<key>shortcut</key>
		<string>zeng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>觥</string>
		<key>shortcut</key>
		<string>gong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>罍</string>
		<key>shortcut</key>
		<string>lei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>斝</string>
		<key>shortcut</key>
		<string>jia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>嵎</string>
		<key>shortcut</key>
		<string>yu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>岵</string>
		<key>shortcut</key>
		<string>hu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>岫</string>
		<key>shortcut</key>
		<string>xiu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>汀</string>
		<key>shortcut</key>
		<string>ting</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>渚</string>
		<key>shortcut</key>
		<string>zhu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>潋</string>
		<key>shortcut</key>
		<string>lian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>滟</string>
		<key>shortcut</key>
		<string>yan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>漪</string>
		<key>shortcut</key>
		<string>yi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>澹</string>
		<key>shortcut</key>
		<string>dan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>鹣</string>
		<key>shortcut</key>
		<string>jian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>鹧</string>
		<key>shortcut</key>
		<string>zhe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>鹫</string>
		<key>shortcut</key>
		<string>jiu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>鹬</string>
		<key>shortcut</key>
		<string>yu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蘅</string>
		<key>shortcut</key>
		<string>heng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蕙</string>
		<key>shortcut</key>
		<string>hui</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蔷</string>
		<key>shortcut</key>
		<string>qiang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蓼</string>
		<key>shortcut</key>
		<string>liao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>荻</string>
		<key>shortcut</key>
		<string>di</string>
	</dict>
</array>
</plist>